
<%- include('partials/header.ejs') %>
    <main class="login-form">
        <div class="form-container">
            <h1 class="title">Welcome back</h1>
            <% if (locals.message) { %>
                <p class="error-notification" role="alert">
                    <%= message %>
                </p>
                <% } %>

                    <form action="/login" method="POST" class="form">
                        <label for="email">Email</label>

<input
    id="email"
    name="email"
    type="email"
    class="input"
    placeholder="Enter your email"
    autocomplete="email"
    required><label for="password">Password</label>

<input
    id="password"
    name="password"
    type="password"
    class="input"
    autocomplete="current-password"
    placeholder="Enter your password"
    required>
                        <!-- Implement later <p class="page-link">
                            <span class="page-link-label">Forgot Password?</span>
                        </p>-->
                        <button class="btn form-btn" type="submit">Log in</button>
                    </form> 
                    <p class="sign-up-label">
                        Don't have an account?<a href="/register"><span class="sign-up-link">Sign up</span></a>
                    </p>

        </div>
    </main>
    <%- include('partials/footer.ejs')%>
        