/*----HEADER-----*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-lg);
  margin: 0 auto;
  position: sticky;
  top: 0;          
  z-index: 1000;   
  width: 100%; 
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*----CONTAINER------*/
.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl) 0;
  gap: var(--spacing-md);
  justify-content: center;
  align-items: center;
}


/*----footer----*/
footer{
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--teal-color);
  color: #fff;
  text-align: center;
}
footer p{
  margin: 0;
  font-size: var(--font-size-sm);}

/*-----nav-----*/
.navigation{
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

/*-----hero----*/

.hero{
  position:relative;
  overflow:hidden;
  text-align: center;
  background-image: url('../images/index-hero-background.jpg');
  background-size: cover;
  background-position: center;
  padding: var(--spacing-xl) 0;
  color: var(--primary-color);

  
}
.hero::before{
  content: "";
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  background: rgba(246, 244, 210, 0.35); /* lower this to 0.20 for darker */
  z-index: 0;
}
.hero-content{
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  max-width: 1200px;


}

/*----main----*/
main{
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  flex-direction: column;

}
/*Dashboard Layout*/
.dashboard-profile{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);

}
.dashboard-page h2{
  padding: var(--spacing-md);
}





/*------post-container-----*/
.posts-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-lg);

}
/*Form Box*/
.btn-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}